<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static\css\health.css">

</head>

<body>

    <!-- Image and text -->
    <nav class="navbar navbar-dark navbar-expand-md py-0 fixed-top" id="mainnavbar">
        <a href="#" class="navbar-brand">
            <img class="icon" src="https://img.icons8.com/wired/64/000000/heart-health.png" />
            Healthy Habits
        </a>
        <div class="collapse navbar-collapse" id="navelements">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href={{url_for('login')}} class="btn btn2 btn-outline-light ">SignUp/Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container quote-cont">
        <p class="quote">"You can’t control what goes on outside, but you CAN control what goes on inside."</p>
        <span class="lead">~Joseph Pilates</span>
    </div>
    <div class="row first">
        <div class="col-lg-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque veniam illo non, fugiat ipsa,
                voluptatum magnam, ad amet molestiae sed autem officia voluptas doloremque beatae aliquid corrupti
                corporis tempore?
                Sapiente provident animi optio dolor? Soluta, earum doloremque rem veniam, harum accusantium explicabo
                mollitia perspiciatis blanditiis repellat natus iure libero fugiat nemo modi tenetur. Nisi labore
                impedit modi accusantium totam!
                Reprehenderit dolorem laudantium est cumque culpa, corporis accusamus modi perferendis incidunt ducimus
                quis sint blanditiis eveniet vitae veritatis dolor, deleniti voluptatem aspernatur? Totam ad laudantium
                nesciunt odit tempora fuga quasi!
                Asperiores veniam soluta mollitia nesciunt. Soluta iusto alias nemo nobis quidem in. Placeat id
                voluptatem dolorum aperiam laborum. Omnis at excepturi consequatur laborum doloremque qui dolorum ipsum
                nam itaque possimus.
                Repellendus, nobis saepe harum quisquam quaerat incidunt veniam ipsa magnam quo distinctio atque,
                reiciendis unde consequatur nesciunt odit placeat asperiores ad ipsum autem aperiam. Saepe temporibus
                exercitationem magni quae nam.
                Ipsam culpa necessitatibus consequuntur tenetur nam eligendi corporis explicabo illo similique quas!
                Commodi, debitis quos. Ab culpa deleniti delectus repellat iure vero et, rerum vel dolor eius unde
                cupiditate cumque.
                Aut possimus non accusantium enim. Eveniet fugiat dolore, facere, odit sed tempora optio ullam facilis
                ratione quasi minus asperiores illo minima repellendus saepe quod doloremque unde dicta possimus
                aliquid. Iusto.
                Ipsa fugit deleniti nihil ipsam, optio expedita, similique perspiciatis maiores doloremque impedit
                numquam recusandae? Animi perspiciatis, dolorem beatae labore nihil quam eveniet, obcaecati cupiditate,
                repellat quas consequatur quasi officia repudiandae?
                Repellat, cum suscipit nulla excepturi, quibusdam ex repudiandae temporibus commodi accusamus maiores
                nam fugiat molestiae pariatur placeat totam, tempora similique nesciunt consectetur repellendus autem.
                Doloribus, explicabo voluptas. Earum, repellendus quidem!
                Ipsam, et, eius facere cupiditate quod voluptatem accusamus quaerat officiis placeat debitis recusandae
                saepe fugiat ut ducimus possimus, impedit eligendi! Voluptate provident voluptates sunt possimus aliquam
                velit maxime numquam nostrum!
                Temporibus omnis ad earum corporis nisi libero in minima ullam minus eius consequatur aut cupiditate
                doloribus nobis ex distinctio, sint, perferendis vitae repellendus illo reprehenderit, quibusdam
                provident? Unde, numquam incidunt?
                Debitis dolores quasi, commodi maxime quae nesciunt quis minus excepturi odit perspiciatis sunt dolore!
                Sit mollitia iste quam eius vero enim voluptas numquam inventore dolorem. Debitis est praesentium
                incidunt ipsam?
                Maxime enim culpa corrupti libero sint voluptate laboriosam. Earum pariatur accusamus sit sunt
                consequatur dolor, voluptatum mollitia alias repellat unde voluptatibus quae, ad animi expedita, dolorem
                praesentium magnam obcaecati modi.
                Magni sint libero eum! Quo porro nulla neque ipsum incidunt deleniti natus iure quod fuga. Consectetur
                rerum minus, voluptate maxime illum modi, ducimus eveniet ullam corporis deleniti excepturi officiis
                quia!
                Expedita impedit minus est quam consequuntur nulla accusamus! Aliquam est quos consequuntur, adipisci
                saepe praesentium, fugiat magnam laborum vel quo ea reiciendis placeat. Iste ullam harum, beatae vel
                magni eius.
                Laborum, repellat suscipit. Optio nemo esse earum quisquam non eveniet fugit voluptatibus consequuntur,
                eaque nostrum laudantium cumque explicabo? Eaque et dignissimos quidem doloribus at tempore iusto odit
                facere! Nemo, tempora.
                Reprehenderit adipisci explicabo tempora doloremque sint saepe dignissimos distinctio totam, nobis nisi,
                ratione, veniam nulla perspiciatis nostrum cumque. Est odio ratione corporis consectetur dolore sunt
                voluptates voluptatibus, voluptate facilis beatae.
                Tempore quasi nesciunt voluptate placeat commodi, eos eaque hic vero omnis mollitia ducimus delectus
                explicabo ipsam ipsum nulla, a nihil id similique in temporibus numquam atque praesentium enim officiis.
                Molestiae!
                Incidunt voluptas modi facilis, reprehenderit, architecto eaque itaque voluptatibus fuga eius rerum
                commodi quis suscipit alias maxime sapiente dolore, quidem cum. Quae mollitia quis laborum esse id
                architecto officia accusamus.
                Corporis excepturi consectetur fugit soluta praesentium inventore molestias velit corrupti atque.
                Dignissimos consequatur aliquid laudantium ab aperiam. Sed mollitia sequi nobis perspiciatis, libero
                quasi earum voluptas in, nostrum vel blanditiis!F</p>
        </div>
        <div class="col-lg-6">
            <img class="healthimg" src="https://www.verywellfit.com/thmb/2X0lgnU3IbNDxEKqMwmwSbxNNck=/900x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/foodontable-5a1cd6e8482c520037c01c19-5a258f7b845b3400363d78e2.jpg" alt="">
        </div>
    </div>



    <!--<script src="/static/js/health.js"></script>-->S
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainnavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</body>

</html>
